@model KütüphaneOtomasyonu.Models.Entity.TblKategoriler
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<br />

<form class="form-group" method="post">
    <label style="color:red" >Kategori Adı</label>
    @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.KategoriAd,"",new { @style="color:blue"})
    <br />
    <button class="btn btn-info"style="background-color:saddlebrown">Kaydet</button>
</form>