@using KütüphaneOtomasyonu.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TblPersonel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<table class="table table-bordered">
    <tr style="background-color:black;color:white">

        <th>PERSONEL ID</th>
        <th>PERSONEL</th>
        
        <th>IŞLEMLER</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.AdSoyad</td>
           
            <td>
                <a href="/Personeller/Sil/@x.Id" class="btn btn-danger" style="background-color:indigo" onclick="return confirm('Silmek İstiyor musunuz?')">Sil</a>
                <a href="/Personeller/Güncelle/@x.Id" class="btn btn-success" style="background-color:black">Güncelle</a>
            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa}))

<a href="/Personeller/Ekle/" class="btn btn-primary" style="background-color:teal">Yeni Personel Girişi</a>
